[submodule "toolchain/musl"]
	path = external/musl
	url = https://github.com/awemorris/musl-i386.git
[submodule "toolchain/gcc"]
	path = external/gcc
	url = https://github.com/awemorris/gcc-i386.git
[submodule "toolchain/glibc"]
	path = external/glibc
	url = https://github.com/awemorris/glibc-i386.git
[submodule "qemu-pc98"]
	path = external/qemu-pc98
	url = https://github.com/awemorris/qemu-pc98.git
[submodule "debian-i486"]
	path = external/debian-i486
	url = git@github.com:awemorris/debian-i486.git
[submodule "third_party/noct"]
	path = third_party/noct
	url = https://github.com/awemorris/NoctLang.git
[submodule "third_party/remacs"]
	path = third_party/remacs
	url = https://github.com/awemorris/remacs.git
[submodule "external/boots"]
	path = external/boots
	url = git@github.com:awemorris/boots.git
